html,
div {
    background-color: rgb(223, 223, 223);
}

input, button {
    margin-top: 20px;
}

button {
    text-align: end;
    align-items: center;
}



#classic {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}